.header h1 span {
    background: linear-gradient(#000, #000);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header h1 span:first-child {
    animation: textcolour1 2s linear infinite alternate;
}

.header h1 span:last-child {
    animation: textcolour2 2s linear infinite alternate;
}

/* Animate the first word or syllable */
@keyframes textcolour1 {
    0% {
        background-size: 0%;
    }
    40% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
}

/* Animate the second word or syllable */
@keyframes textcolour2 {
    0% {
        background-size: 0%;
    }
    40% {
        background-size: 100%;
    }
    100% {
        background-size: 100%;
    }
}
